body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: rgb(102, 102, 102);
}

#welcome-section {
  background-color: rgb(214, 214, 214);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#panchos-description {
  width: 60%;
  text-align: center;
  font-size: 30px;

}

#our-services-section {
  background-color: rgb(143, 143, 143);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#services-card-container {
  display: flex;
  gap: 30px;
}

.service-card {
  display: flex;
  width: 500px;
  height: 500px;

  background-color: blue;
}

#our-barbers-section {
  background-color: rgb(80, 80, 80);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

#barbers-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 50%;
  background-color: white;
}

.barber-card {
  display: flex;
  flex-direction: column;
  background-color: red;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.barber {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barber-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}