@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sedgwick+Ave+Display&display=swap');


body {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR */

.navbar {
  display: flex;
  position: absolute;
  width: 100%;
  height: 10%;
  color: black;
  background-color: #FFFFFF;
}

.navbar>a,
a:visited {
  text-decoration: none;
  color: rgb(32, 32, 32);
}

.nav-buttons {
  flex: 1;
  display: flex;
  justify-content: center;
}

#section-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 2rem;
  margin-right: auto;
}

#home-button>a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sedgwick Ave Display', 'cursive';
  font-size: 2.5rem;
  text-decoration: none;
}


#appointment-buttons {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.book-appointment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 3vw;
  background-color: #f8ce73;
  border: solid 1px black;
  border-radius: 10px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
}

/* WELCOME SECTION */
#welcome-section {
  background-color: rgb(214, 214, 214);
  background-image: url('../src/images/welcome-backdrop.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#panchos-description {
  width: 80%;
  text-align: right;
  font-size: 4rem;
  color: rgb(32, 32, 32);
}


/* SERVICES SECTION */

#our-services-section {
  background-color: rgb(26, 26, 26);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#our-services-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  font-family: 'Sedgwick Ave Display', 'cursive';
  color: #f8ce73;
}

#our-services-description {
  width: 60%;
  color: #e6e6e6;
  padding: 30px;
  text-align: center;
  font-size: 1.5vw;
}

#services-card-container {
  display: flex;
  width: 70%;
  gap: 50px;
}

.service-card {
  position: relative;
  width: 33%;
  height: 100%;
}

.service-card>img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}


.service-name {
  position: absolute;
  font-size: 7vw;
  writing-mode: sideways-lr;
  bottom: 35%;
  text-overflow: upright;
  color: #e6e6e6;
  text-shadow: 5px 5px 5px black;
}

.service-price {
  font-size: 5vw;
  text-align: center;
  color: #f8ce73;
}


/* BARBERS SECTION */

#our-barbers-section {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#our-barbers-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-size: 4vw;
  font-family: 'Sedgwick Ave Display', 'cursive';
  color: rgb(255, 255, 255);
}

#our-barbers-description {
  width: 60%;
  color: #e6e6e6;
  text-align: center;
  font-size: 2rem;
}

#barbers-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
}

.barber-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: black;
  height: 100%;
  width: 40%;
}

.barber-picture {
  width: 20vw;
  height: 20vw;
  margin: -20px;
  object-fit: cover;
  border-radius: 50%;
}

.barber-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f8ce73;
  font-size: 2.5vw;
}

.barber-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.barber-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 90%;
  font-size: 1.3vw;

  color: #e6e6e6;
}

.barber-selection-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: #ffffff;
  border: solid 1px black;
  border-radius: 50%;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
}

/* PRODUCTS SECTION */

#products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 100%;
}

#product-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#product-section-title>img {
  width: 20%;
  object-fit: cover;
}

#product-container {
  display: flex;
  justify-content: space-evenly;
  height: 300px;
}

#product-container>img {
  width: 20%;
  object-fit: cover;
  object-position: 0% 100%;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


/* FOOTER */

#footer {
  height: 20vh;
  width: 100%;
  background-color: black;
}