@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HAMBURGER MENU */

.hamburger-menu {
  position: fixed;
  right: 0;
  width: 50vw;
  height: 100vh;
  z-index: 1;
  background-color: #e6e6e6;
  border: none;
}

.hamburger-menu-wrapper {
  position: fixed;
  right: 0;
  width: 50vw;
  height: 100vh;
  z-index: 1;
  background-color: #e6e6e6;
  border: none;
}

#mobile-section-buttons {
  display: flex;
  flex-direction: column;
  height: 70%;
}

#hamburger-menu-button {
  all: unset;
  width: 50px;
  height: 100px;
  margin-right: 20px;
}

#close-button {
  all: unset;
  display: flex;
  flex-direction: end;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  color: #e6e6e6;
  background-color: black;
}


.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}


#mobile-section-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 50px;
  list-style-type: none;
  text-decoration: none;
  font-size: 2rem;
  margin-right: auto;
}



#mobile-section-buttons>li>a {
  box-shadow: inset 0 0 0 1 #000000;
  color: #000000;
  transition: color .1s ease-in-out, box-shadow .1s ease-in-out;
  text-decoration: none;
  letter-spacing: 3px;
}


#mobile-section-buttons>li>a:hover {
  box-shadow: inset 125px 0 0 0 #000000;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
}

/* NAVBAR */

.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  z-index: 1;
  color: rgb(32, 32, 32);
  background-color: #FFFFFF;
  overflow: hidden;
  letter-spacing: 2px;
}


.navbar>a,
a:visited {
  text-decoration: none;
  color: rgb(32, 32, 32);
}

.nav-buttons {
  flex: 1;
  display: flex;
  justify-content: center;
}

#section-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 50px;
  list-style-type: none;
  text-decoration: none;
  font-size: 2rem;
  margin-right: auto;
}



#section-buttons>li>a {
  box-shadow: inset 0 0 0 1 #000000;
  color: #000000;
  transition: color .1s ease-in-out, box-shadow .1s ease-in-out;
  text-decoration: none;
  letter-spacing: 3px;
}


#section-buttons>li>a:hover {
  box-shadow: inset 125px 0 0 0 #000000;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
}


#home-button>a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sedgwick Ave Display', 'cursive';
  font-size: 2.5rem;
  text-decoration: none;
}


#appointment-buttons {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.book-appointment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #f8ce73;
  border: solid 1px black;
  border-radius: 5px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.2rem;
}





.book-appointment-button:hover {
  background-color: #db9d17;
  font-size: 1.2rem;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {

  #section-buttons {
    display: none;
  }

  #home-button>a {
    font-size: 2rem;
  }

}



/* WELCOME SECTION */

#welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(214, 214, 214);
  background-image: url('../src/images/welcome-backdrop.jpg');
  background-size: cover;
}

#panchos-description {
  width: 80%;
  text-align: right;
  font-size: 8rem;
  color: rgb(32, 32, 32);
  user-select: none;
  letter-spacing: 10px;
}

@media screen and (max-width: 1000px) {
  #welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(214, 214, 214);
    background-image: url('../src/images/welcome-backdrop.jpg');
    background-size: cover;
    background-position: 25% 75%;
  }

  #panchos-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    font-size: 4rem;
    color: #e6e6e6;
  }
}


/* SERVICES SECTION */

#our-services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgb(26, 26, 26);
}

#our-services-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 4rem;
  font-family: 'Sedgwick Ave Display', 'cursive';
  color: #f8ce73;
}

#our-services-description {
  width: 70%;
  padding: 30px;
  color: #e6e6e6;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
}

#services-card-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 90%;
  height: 100;
}

.service-card {
  position: relative;
  width: 23%;
  height: 100%;

}

.service-card>img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}


.service-name {
  position: absolute;
  font-size: 6vw;
  writing-mode: sideways-lr;
  bottom: 35%;
  text-overflow: upright;
  color: #e6e6e6;
  text-shadow: 5px 5px 5px black;
  letter-spacing: 5px;
  user-select: none;

}

.service-price {
  font-size: 5rem;
  text-align: center;
  color: #f8ce73;
}


@media screen and (max-width: 1250px) {
  #our-services-section-title {
    font-size: 3.1rem;
  }

  #our-services-description {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 80%;
  }

  #services-card-container {
    gap: 20px;
  }

  .service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    background-color: rgb(15, 15, 15);
  }

  .service-card>img {
    display: none;
  }

  .service-name {
    position: unset;
    font-size: 1.9rem;
    writing-mode: unset;
    bottom: 0%;
    text-overflow: upright;
    color: #e6e6e6;
    text-shadow: none;
    letter-spacing: normal;
  }

  .service-price {
    font-size: 3rem;
  }


}


/* BARBERS SECTION */

#our-barbers-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  background-color: rgb(15, 15, 15);
  text-align: center;
}

#our-barbers-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-size: 4rem;
  font-family: 'Sedgwick Ave Display', 'cursive';
  color: rgb(255, 255, 255);
}

#our-barbers-description {
  width: 60%;
  color: #e6e6e6;
  text-align: center;
  font-size: 2rem;
}

#barbers-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
}


.barber-select-button {
  padding: 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(68, 68, 68);
  color: white;
}

.barber-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barber-picture {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 50%;
}

.barber-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f8ce73;
  font-size: 3rem;
}

.barber-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barber-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 90%;
  line-height: 2.7rem;
  font-size: 1.6rem;
  text-align: center;
  color: #e6e6e6;
}

@media screen and (max-width: 1250px) {

  #our-barbers-section-title {
    font-size: 3.1rem;
  }

  .barber-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f8ce73;
    font-size: 2rem;
  }

  .barber-picture {
    margin: 2vw;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }

  .barber-description {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.barber-selection-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: #ffffff;
  border: solid 1px black;
  border-radius: 50%;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
}

/* PRODUCTS SECTION */

#products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#product-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  font-size: 3rem;
}

#product-section-title>img {
  width: 15rem;
  object-fit: cover;
}

#product-container {
  display: flex;
  justify-content: space-evenly;
}

#product-container>img {
  width: 20vw;
  object-fit: cover;
  object-position: 0% 100%;
}


@media screen and (max-width: 1000px) {
  #product-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }

  #product-container>img {
    width: 35vw;
    object-fit: cover;
    object-position: 0% 100%;
  }
}



/* .section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
} */


/* FOOTER */

#footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 25vh;
  font-size: 1.5rem;
  background-color: black;
  color: #e6e6e6;
}

.footer-info-title {
  font-family: 'Sedgwick Ave Display', 'cursive';
  color: #f8ce73;
  font-size: 3rem;
}

#business-info-container {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

#business-hours-container {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

#business-hours-container td {
  width: 250px;
}

@media screen and (max-width: 1000px) {
  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    background-color: black;
    color: #e6e6e6;
  }

  .footer-info-title {
    font-family: 'Sedgwick Ave Display', 'cursive';
    color: #f8ce73;
    font-size: 1.5rem;
  }


  #business-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }

  #business-hours-container {
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  #business-hours-container td {
    width: auto;
  }



}