@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sedgwick+Ave+Display&display=swap');


body {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR */

.navbar {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100px;
  color: black;
  background-color: #FFFFFF;
  overflow: hidden;
}

.navbar>a,
a:visited {
  text-decoration: none;
  color: rgb(32, 32, 32);
}

.nav-buttons {
  flex: 1;
  display: flex;
  justify-content: center;
}

#section-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 2rem;
  margin-right: auto;
}

#home-button>a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sedgwick Ave Display', 'cursive';
  font-size: 2.5rem;
  text-decoration: none;
}


#appointment-buttons {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.book-appointment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #f8ce73;
  border: solid 1px black;
  border-radius: 5px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {

  #section-buttons {
    display: none;
  }

  #home-button>a {
    font-size: 2rem;
  }

}



/* WELCOME SECTION */
#welcome-section {
  background-color: rgb(214, 214, 214);
  background-image: url('../src/images/welcome-backdrop.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#panchos-description {
  width: 80%;
  text-align: right;
  font-size: 4rem;
  color: rgb(32, 32, 32);
}

@media screen and (max-width: 1000px) {
  #welcome-section {
    background-color: rgb(214, 214, 214);
    background-image: url('../src/images/welcome-backdrop.jpg');
    background-size: cover;
    background-position: 25% 75%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #panchos-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    font-size: 2.5rem;
    color: #e6e6e6;
  }
}


/* SERVICES SECTION */

#our-services-section {
  background-color: rgb(26, 26, 26);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#our-services-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 4rem;
  font-family: 'Sedgwick Ave Display', 'cursive';
  color: #f8ce73;
}

#our-services-description {
  width: 70%;
  color: #e6e6e6;
  padding: 30px;
  text-align: center;
  font-size: 1.5rem;
}

#services-card-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 90%;
  height: 100;
  gap: 50px;
}

.service-card {
  position: relative;
  width: 25%;
  height: 100%;
}

.service-card>img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}


.service-name {
  position: absolute;
  font-size: 7vw;
  writing-mode: sideways-lr;
  bottom: 35%;
  text-overflow: upright;
  color: #e6e6e6;
  text-shadow: 5px 5px 5px black;
}

.service-price {
  font-size: 4rem;
  text-align: center;
  color: #f8ce73;
}


/* BARBERS SECTION */

#our-barbers-section {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#our-barbers-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-size: 4rem;
  font-family: 'Sedgwick Ave Display', 'cursive';
  color: rgb(255, 255, 255);
}

#our-barbers-description {
  width: 60%;
  color: #e6e6e6;
  text-align: center;
  font-size: 2rem;
}

#barbers-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
}

.barber-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: black;
  height: 100%;
  width: 40%;
}

.barber-picture {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 50%;
}

.barber-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f8ce73;
  font-size: 3rem;
}

.barber-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barber-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 90%;
  font-size: 1.5rem;
  text-align: center;
  color: #e6e6e6;
}

@media screen and (max-width: 1250px) {

  .barber-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f8ce73;
    font-size: 2rem;
  }

  .barber-picture {
    width: 45vw;
    height: 45vw;
    object-fit: cover;
    border-radius: 50%;
  }

  .barber-description {
    font-size: 1.1rem;
  }
}

.barber-selection-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: #ffffff;
  border: solid 1px black;
  border-radius: 50%;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
}

/* PRODUCTS SECTION */

#products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#product-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  font-size: 3rem;
}

#product-section-title>img {
  width: 15rem;
  object-fit: cover;
}

#product-container {
  display: flex;
  justify-content: space-evenly;
}

#product-container>img {
  width: 20vw;
  object-fit: cover;
  object-position: 0% 100%;
}


@media screen and (max-width: 1000px) {
  #product-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }

  #product-container>img {
    width: 35vw;
    object-fit: cover;
    object-position: 0% 100%;
  }
}



/* .section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
} */


/* FOOTER */

#footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20vh;
  font-size: 1.5rem;
  background-color: black;
  color: #e6e6e6;
}

#business-info-container {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

#business-hours-container {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

#business-hours-container td {
  width: 250px;
}